<% if resource.errors.any? %>
  <div id="error_explanation" class="bg-red-500 p-2 mb-3 text-white">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
